<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/home.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/icons/favicon.png') }}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script defer src="{{ url_for('static', path='/js/home.js') }}"></script>
    <title>Secure Chat</title>
  </head>
  <body>
    <div class="container">
      <div class="left">
        <div class="top-row">
          <h1 class="title">Talk Freely, Share Privately</h1>
          <p class="description">
            Connect, collaborate, and share secrets — with no traces left
            behind.
          </p>
        </div>
        <div class="middle-row input-with-icon">
          <span class="input-icon">
            <i class="fa fa-lock" aria-hidden="true"></i>
          </span>
          <input
            type="text"
            id="chatCode"
            required
            placeholder="Enter or generate code..."
          />
          <button class="btn generateCode" onclick="generateCode()">
            Generate
          </button>
        </div>
        <button class="btn full-btn" onclick="joinChat()">
          Join Chat Room
        </button>
      </div>
      <div class="right">
        <img src={{ url_for('static', path='icons/lock.png') }} alt="Logo"
        style="width: 400px; margin-bottom: 1rem" />
      </div>
    </div>

    <!-- Modal Background -->
    <div id="nicknameModal" class="modal">
      <div class="modal-content">
        <input
          type="text"
          id="nickname"
          class="modal-input"
          placeholder="Enter your nickname"
        />

        <button
          id="continueBtn"
          class="btn full-btn primary"
          onclick="proceedToChat()"
        >
          Continue without name
        </button>
      </div>
    </div>

    <script>
      let chatCode = "";
    </script>
  </body>
</html>
